.burger {
  transition: opacity 300ms ease, background-color 200ms ease;
  border: 0;
  background: transparent;
  width: 36px;
  height: 36px;
  position: relative;
  border-radius: 9999px;
}

.burger svg {
  transform: translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  opacity: 1;
  transition: opacity 200ms ease, transform 200ms ease;
}

.burger svg[data-hide='true'] {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.6);
}

.menu {
  padding: 28px 8px 48px;
  margin: 0;
  width: 100%;
  z-index: 40;
  opacity: 0;
  left: 0;
  top: 52px;
  list-style: none;
  transition: opacity 240ms ease;
}

.menu li {
  transform: translateY(8px);
  opacity: 0;
  transition: opacity 320ms cubic-bezier(0.22, 1, 0.36, 1),
    transform 320ms cubic-bezier(0.22, 1, 0.36, 1);
}

.menuRendered {
  opacity: 1;
}

.menuRendered li {
  transform: translateY(0);
  opacity: 1;
}

.menu > * + * {
  margin-top: 4px;
}
